html {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.sideNav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #8fa59f;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.3s;
}

.sideNav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #5b8075;
    display: block;
    transition: 0.3s;
}

.sideNav a:hover {
    color: #475853;
}

.sideNav .closeButton {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.main {
    position: relative;
    text-align: center;
}

.centerText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    border: 3px solid lightgrey;
    padding: 20px 40px;
}

.mainimg {
    filter: blur(4px);
    width: 100%;
    z-index: 0;
}

.contactLinks {
    margin-left: 32px;
}

.tab {
    border: none;
    font-size: 20px;
    text-align: center;
    padding: 10px 10px;
    cursor: pointer;
    color: #5b8075;
}

.tab:hover {
    background-color: #8fa59f;
}

.project_tab {
    display: none;
}

.blockContent{
    margin-left: 10%;
    margin-right: 10%;
}

.blockImage {
    margin-left: 10%;
    margin-right: 10%;
    max-width: 750px;
    width: 80%;
    align-self: center;
    border: 3px solid #5b8075;
}

.header {
    font-size: 32px;
    color: #5b8075;
}

.subheader {
    font-size: 24px;
    color: #5b8075;
}

body {
    background-color: #afc2b5;
}

span {
    font-size: 25px;
    margin-bottom: 16px;
    color: #5b8075;
}

span:hover {
    color: #475853;
}

p {
    margin-top: 1px;
    margin-bottom: 1px;
    color: white;
    max-width: 750px;
    text-align: justify;
}

img {
    margin-top: 12px;
}